html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul, li {
    list-style: none;
    display: inline-block;
}
.nav {
    transform: translateX(-300px);
}
.nav.open {
    transform: translateX(0px);
}

.headline p {
    display: none;
}
.headline.open p{
    display: block;
}
.headline {
    background-color: #f3ebeb;
    width: 800px;
    padding: 20px;
    border: 1px solid  #d3c9c9;
}
.accordion {
    display: flex;
    align-items: center;
    flex-direction: column;
} 

